
<ul class="nav nav-pills">
    <small><li class="nav-item">
        <a class="nav-link <%= params[:sort] == "recent" ? "active": nil%> <%= params[:sort] == nil ? "active": nil%>" href="?sort=recent">Recent</a>
    </li></small>
    <small><li class="nav-item">
        <a class="nav-link <%= params[:sort] == "amount" ? "active": nil%>" href="?sort=amount">Amount</a>
    </li></small>
</ul>
<br />