<div class="container mt-3">
    <h3>ClientDrive</h3>
    <p> Software to manage customers, record purchases and send invoices. </p>
    <p> 1. Your customers and contacts, all in one place. Avaliable to export or for integration with other services.</p>
    <p> 2. Manage orders, projects and purchases to to keep fufillment simple.</p>
    <p> 3. Setup payment gateways and send invoices to manage payments and orders. </p>
    <p> We help you centralize your data to make using other business tools simpler and more useful, from square to quickbooks.</p>
</div>