<div class="container">
    <h3> Add sale </h3>
    <br/>
    <% if @sales.where("contact_id = ?", @contact.id) <=> @sales.all%>
        <p> All sales belong to this customer.</p>
    <% else %>
        <%= render 'contacts/forms/sales.html.erb', locals:{sales:@sales, contact:@contact}%>
    <% end %>
</div>
