<div class="container w-50 mx-auto">
    <%=link_to "Back", :back %>

    <h3> Update contact</h3>

    <div id="contact_form">
        <%= render "contacts/forms/contact.html.erb", locals:{contacts: @contacts}%>
    </div>
</div>