<%= link_to "New Contact", new_contact_path, :class=>"btn btn-primary float-right" %>
<br />
<br />

<div class="contact-links">
    <%= render "contacts/partials/contacts.html.erb", locals:{contacts: @contacts}%>
</div>