<div class="container clearfix">
    <div>
        <h2> Contacts </h2>
    </div>
</div>

<div class="container">
    <hr />
</div>

<div class="container">
    <%= render "contacts/partials/contacts.html.erb", locals:{contacts: @contacts}%>
</div>