<%= link_to "New Contact", new_contact_path, :class=>"btn btn-primary" %>
<br />
<br />

<div class="contact-links">
<% @contacts.each do |contact| %>
    <%= link_to contact_url(contact) do %>
        <div class="contact-link">
            <p class="lead"><%= contact.name %></p>
            <hr/>
        </div>
    <% end %> 
<% end %>
</div>