<div class="container w-50 mx-auto">
    <%=link_to "Back", :back %>

    <h3> Create contact </h3>

    <div id="new_contact_form">
        <%= render "contacts/forms/contact.html.erb", locals:{contact:@contact}%>
    </div>
</div>