<div class="container mb-5">
    <div class="row">
        <div class="col-lg-4">
            <%= render "contacts/partials/info.html.erb", locals: {contact: @contact}%>
        </div>

        <div class="col-lg-8">
            <%= render "contacts/partials/touchpoints.html.erb", locals: {contact: @contact}%>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <%= render "contacts/partials/sales.html.erb", locals: {contact: @contact, sales: @sales}%>
        </div>
    </div>
</div>
