<div class="container mb-5">
    <div class="row">
        <div class="col-lg-4">
            <%= render "contact_info.html.erb", locals: {contact: @contact}%>
        </div>

        <div class="col-lg-8">
            <%= render "contact_touchpoints.html.erb", locals: {contact: @contact}%>
        </div>

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <%= render "contact_sales.html.erb", locals: {contact: @contact, sales: @sales}%>
        </div>

    </div>
</div>
