<div class="container">
    <h1> <%= @contact.name%> </h1>
    <hr />
</div>

<br />

<div class="container">
    <h4> Create Touchpoint </h4>
    <div id="new_touchpoint_form">
        <%= render 'touchpoints/forms/touchpoint.html.erb', locals:{contact:@contact, touchpoint: @touchpoint}%>
    </div>
</div>