<div class="container">
    <div class="container clearfix">
        <%= link_to "New Sale", new_sale_path, :class=>"btn btn-primary float-right" %>
        <%= render 'sales/partials/filter.html.erb' %>
    </div>
    <div class="container">
        <%= render 'sales/partials/sales.html.erb', locals:{sales: @sales}%>
    </div>
</div>